caption, p {
    color: rgb(255, 255, 255);
    text-shadow: 2px 3px rgb(0, 0, 0);
}

h2 {
    text-shadow: 5px 2px black;
    animation-duration: 2s;
    animation-name: contactUs;
    justify-self: center;
    padding: 0;
    border: 0;
    margin-top: 1em;
    font-size: 5em;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#teamSlider {
    padding-right: 15em;
    border: 0;
    animation-duration: 3s;
    animation-name: showForm;
    box-shadow: -8px -8px 20px 8px rgba(0, 0, 0, 0.37);
    border: 2px solid rgba(0, 0, 0, 0.349);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(112, 112, 112, 0.7);
    border-radius: 1em;
    color: white;
    text-shadow: 2px 3px rgb(0, 0, 0);
}

#teamMember {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 2em;
}

.sliderControl {
    width: 35px;
    height: 35px;
    padding: 10px;
    background-color: rgb(186, 213, 236);
    font-size: 17px;
}

.sliderControl:hover{
    transition: 500ms;
    background-color: rgb(109, 142, 172);
}

.container{
    background-repeat: no-repeat;
    background-size: cover;
   
    display: grid;
    border: 0;
    padding-top: 0;
    margin-top: 10em;
}

canvas{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-image: url("pics/contactPic.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    animation-duration: 2s;
    animation-name: writemain;
    z-index: -1;
}

.slider{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: left;
    z-index: 1;
    padding: 0;
    border: 0;
    top:0;
    left:0;
    height: inherit;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.425);
}

a{
    transition: 500ms;
    text-decoration: none;
    background-color: rgba(36, 35, 35, 0.5);
    text-shadow: 2px 2px black;
    color: white;
    padding: 0.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    border:0;
}
a:visited{
    color: white;
}

.logo{
    background-image: url("pics/thingo.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 5%;
    aspect-ratio: 1/1;
}
a:hover{
    transition: 500ms;
    background-color: black;
}



@keyframes writemain {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes contactUs{
    from{
        color: rgba(255, 255, 255, 0);
        margin-left: 40vw;
        text-shadow: 0px 0px rgba(0, 0, 0, 0);
    }
    to {
        text-shadow: 5px 2px black;
        opacity: 1;
        color:rgba(255, 255, 255, 1);
    }
}
@keyframes showForm{
    from {
        opacity: 0;
    } to{
        opacity: 1;
    }
}